/* Custom styles */
.body_content{
    height: calc(100vh - 91.3px);
}

/* Mark input boxes that gets an error on validation: */
.reg_form input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.reg_form .tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.reg_form .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.reg_form .step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.reg_form .step.finish {
    background-color: #04AA6D;
}